<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Preferences</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container head">

        <div class="row">

            <div class="col">
                <div class="row">
                    <h1>Association Pand'Ami</h1>
                </div>
                <div class="row">
                    <img src="panda.jpg" />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h2>Accueil</h2>
                </div>
                <div class="row">
                    <img id="home" src="home.png" />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h2>Mes préférences</h2>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h2>Mes demandes</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="container main">

        <div class="row">
            <form>

                <div class="form-group col">
                    <div class="row">Je déclare mes disponibilités : </div>

                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Choisir les mêmes horaires pour tous les jours où je suis disponible.
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-10">

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Lundi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Mardi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Mercredi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Jeudi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Vendredi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Samedi</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">Dimanche</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="inputState">Horaires</label>
                                <div class="row">
                                    <select id="inputState" class="form-control">
                                        <option selected>De...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                    <select id="inputState" class="form-control">
                                        <option selected>Jusqu'à...</option>
                                        <option>00h00</option>
                                        <option>01h00</option>
                                        <option>02h00</option>
                                        <option>03h00</option>
                                        <option>04h00</option>
                                        <option>05h00</option>
                                        <option>06h00</option>
                                        <option>07h00</option>
                                        <option>08h00</option>
                                        <option>09h00</option>
                                        <option>10h00</option>
                                        <option>11h00</option>
                                        <option>12h00</option>
                                        <option>13h00</option>
                                        <option>14h00</option>
                                        <option>15h00</option>
                                        <option>16h00</option>
                                        <option>17h00</option>
                                        <option>18h00</option>
                                        <option>19h00</option>
                                        <option>20h00</option>
                                        <option>21h00</option>
                                        <option>22h00</option>
                                        <option>23h00</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Je confirme mes disponibilités !</button>
                    </div>
                </div>
            </form>

        </div>


    </div>

    <div class="container foot">
        <div class="row">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Qui sommes-nous?</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Contact</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Mentions légales</a>
            </nav>

        </div>

    </div>

</body>

</html>