@{ ViewData["Title"] = "Réglement intérieur"; }
<h2>@ViewData["Title"]</h2>

<p>Je propose de consacrer cette page pour détailler la politique de confidentialité de votre site.</p>
<p>Chaque utilisateur doit avoir cocher la case lu et approuvé dans la phase de creation d'une compte (juste une proposition)</p>
