h1{
    color:black;
    font-size: 25px ;
    margin: 1vh auto 1vh auto;
}

img{
    width: 10vw;
    margin: 1vh auto 1vh auto;
}

#home{
    width: 2vw;
    margin: 1vh auto 1vh auto;
}

h2{
    color:black;
    font-size: 25px;
    margin: 1vh auto 1vh auto;
}

nav{
    color:black;
    font-size: medium;
    margin: 1vh auto 1vh auto;  
}


.head{
height:150px;
background: linear-gradient( limegreen, yellow, limegreen);
align-content: center;
font-size: 1.5em;

}

.main{
    height:800px;
    background-color: ;
    
    }

.foot{
        height:50px;
        background: linear-gradient( limegreen, yellow, limegreen);
        align-content: center;
        
        }