@{
    ViewData["Title"] = "Creer un Compte ou connectez vous";
    ViewData["Message"] = "Bonjour les PAND'AMI ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>ici on peut creer un beau formulaire d'inscription et de connexion</p>
