@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "N'hesitez pas on cas d'urgence :)   ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Equipe Pand'ami<br />
    EQL, Formation<br />
    <abbr title="Urgent">Tel:</abbr>
    +(33) 11 11 11 11 11
    <div>Ouvert du Lundi - Vendredi 8:00 AM à 5:00 PM</div>
</address>

<address>
    <strong>Techniques:</strong> <a href="mailto:Support@example.com">oranedeganz@gmail.com</a><br />
    <strong>Techniques:</strong> <a href="mailto:Marketing@example.com">mik.sam@hotmail.fr</a>
    <strong> / </strong> <a href="mailto:Marketing@example.com">khaledinat@gmail.com</a>

</address>
