@{ ViewData["Title"] = "Ici c'est l'espace volontaire où il va exprimer ses préférences";
   ViewData["Message"] = "Bonjour chers volontaires "; }
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>ici on peut creer un beau formulaire de préférences, aussi notre volontaire peut postuler à  tt moment à n'importe quelle demande </p>
